.residence-card {
  background-color: #FCFFFD; 
  border: 1px solid #93BCBF; 
  border-radius: 8px; 
  overflow: hidden; 
  width: 326px; 
  height: 360px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column; 
  transition: transform 0.3s ease-in-out; 
}

.residence-card:hover {
  transform: translateY(-10px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.card-image {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
}

.card-info {
  padding: 1rem; 
  display: flex;
  line-height: 1rem;
  flex-direction: column;
  gap: 0.2rem; 
  flex: 1; 
  overflow: hidden; 
}

.card-price {
  font-size: 1.1rem;
  font-weight: semibold;
  color: #5B7C65; 
}

.card-description {
  font-size: 0.9rem;
  color: #293E40; /* Example color */
  line-height: 1.4;
  overflow: hidden; /* Evita que o texto exceda o espaço */
  text-overflow: ellipsis; /* Adiciona reticências se o texto for muito longo */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita a descrição a 2 linhas */
  -webkit-box-orient: vertical;
}

/* Responsiveness for the card */
@media (max-width: 650px) {
  .residence-card {
    width: 100%; /* Full width on smaller screens */
    max-width: 326px; /* Ajustado para a largura do Figma */
    height: 360px; /* Mantém a altura do Figma */
  }

  .residence-card:hover {
    transform: translateY(-10px); /* Mantém o efeito hover em telas menores */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Mantém a sombra aumentada */
  }
}