.popular-residences-section {
  padding: 2rem;
  margin-top: 45rem; 
  position: relative;
  z-index: 1;
}

.popular-residences-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; 
  display: flex;
  flex-direction: column;
  gap: 2rem; 
  align-items: flex-start; 
  margin: 0 auto;
  padding: 130px 60px 0px 85px; 

}
.popular-residences-header {
  text-align: left;
}

.popular-residences-header .subtitle {
  font-size: 1rem;
  color: #507073; 
  font-weight: normal;
}

.popular-residences-header .title {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--primary);
}

.residences-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.residence-card {
  width: 300px; 
  border-radius: 10px; 
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
  transition: transform 0.2s;
}

.residence-card:hover {
  transform: translateY(-5px); 
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-info {
  padding: 1rem;
}

.card-price {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1B3A2F; 
  margin-bottom: 0.5rem;
}

.card-title {
  font-size: 1rem;
  font-weight: 500;
  color: #333333; 
  margin-bottom: 0.5rem;
}

.card-description {
  font-size: 0.9rem;
  color: #666666; 
  line-height: 1.4;
}

@media (max-width: 650px) {
  .residences-cards-container {
    gap: 1rem;
  }

  .residence-card {
    width: 100%; 
    max-width: 300px; 
  }
}